<!doctype html>

<html lang="en">

  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link href="../css/style.css" rel="stylesheet"> 

    <!-- Website Title -->
    <title>HTML SERVER</title>

  </head>

  <body>

    <%- include ('partials/nav') %>

    <h1>Welcome!</h1>

    <!-- JavaScript -->
    <!-- <script>
      alert("Hello, world");
    </script>  -->

  </body>

</html>