* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: 	#C8C8C8;
  color: #000;
}


#intro h1 {
  font-size: 45px;
  text-decoration: underline;
  margin: 20px 50px;
  cursor: pointer;
}

#intro a:hover {
  color: #9fff80;
}

#code-des {
  margin: 50px 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  border: 1px solid #000;
  padding: 10px;
}

#code-des:hover {
  border: 3px solid yellow;
}

#code-des:hover p {
  color: white;
}

#code-des .inner-des {
  margin: 20px 0;
}

#code-des:hover div {
  background-color: #333;

}

#intro-example h2 {
  margin: 0 0 10px 20px;
  font-size: 25px;
}

#intro-example #example-text {
  margin: 20px 40px;
  font-size: 20px;
}

#intro-example h2 span:hover {
  color: #ffff80;
}

#example-text p {
  margin: 5px 0;
}

.example-steps {
  margin: 20px 70px;
}

.example-steps .step {
  margin-top: 3px;
  font-size: 21px;
}

.example-steps .note {
  display: inline-block;
  font-size: 18px;
  margin-top: 6px;
  padding: 3px;
  background-color: #ffff80;
}

.example-steps .note span {
  background-color: #ffff80;
}

.example-steps p {
  margin: 5px 0;
  font-size: 20px;
  text-decoration: underline;
  margin-top: 40px;
}

#code-steps {
  border: 1px solid #000;
  width: 300px;
  height: 150px;
  padding: 15px;
  margin-top: 20px;
}

#codesteps-inner {
  margin-left: 10px;
}

.code-note {
  display: inline-block;
  font-size: 18px;
  margin: 0 285px; 
  padding: 3px;
  background-color: #ffff80;
  position: absolute;
  float: right;
}

#q-info {
  font-size: 30px;
  margin: 70px 0 20px 85px;
  cursor: pointer;
  border: 1px solid #000;
  padding: 2px;
  width: 1500px;
}

#data-types h2 {
  margin: 40px 0 10px 5px;
  text-decoration: underline;
  font-size: 25px;
}

#data-types p {
  margin: 0 0 10px 20px;
  font-size: 20px;
}

#data-types h3 {
  margin: 0 0 5px 20px;
}

#data-types ul {
  margin: 0 0 30px 40px;
  font-size: 18px;
}

.num-type,
.char-type,
.array-type,
.hash-type {
  margin-bottom: 40px;
}

.type-note {
  display: inline-block;
  margin: 0 0 10px 20px;
  font-size: 15px;
  padding: 5px;
  background-color: #ffff80;
}

#variables h2 {
  margin: 40px 0 10px 5px;
  text-decoration: underline;
  font-size: 25px;
}

.var li {
  margin: 5px 0 5px 40px;
  font-size: 18px;
}

.var {
  margin-bottom: 30px;
}

#variables ul {
  /* margin: 20px 0; */
}

#variables h4 {
  margin: 10px 0 0 40px;
  font-size: 25px;
}

.vari li {
  margin: 1px 0 5px 40px;
  font-size: 18px;
}

#operators p {
  margin: 0 0 10px 40px;
  font-size: 20px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 2px;
  margin-left: 40px;
}

#operators {
  margin-bottom: 40px;
}

#control-flow h2 {
  margin: 40px 0 10px 5px;
  text-decoration: underline;
  font-size: 25px;
}

.flow-text p {
  margin: 0 0 5px 40px;
  font-size: 20px;
}

#control-flow table {
  margin-bottom: 40px;
}

#control-flow h3 {
  font-size: 20px;
  margin-left: 40px;
}

#control-flow p {
  font-size: 18px;
  margin: 0 0 10px 20px;
}

.if-1 {
  border: 1px solid #000;
  width: 300px;
  padding: 10px;
  margin: 0 0 30px 20px;
}

.if-1 span {
  text-decoration: underline;
  margin-right: 10px;
} 

.if-1 #line-1 {
  margin-left: 40px;
}


