h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

table {
  align-content: center;
  margin: 20px auto;
  
}

td {
  padding: 80px;
}

#center {
  border: 1px solid black;
}

#centertop {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#leftcenter {
  border-top: 1px solid black;
  border-bottom: 1px solid black; 
}

#centerbottom {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#rightcenter {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}